@import "materialize";

$albixonGreenColor: #419c2a;
$btnColor: #F44336;

body {
  margin-bottom: 40px;
}

nav {
  background-color: $albixonGreenColor;
}



.btn {
  background-color: $albixonGreenColor;
}

.searchForm {
  border-bottom: 1px solid #c7c7c7;
}

.btn-large {
  font-size: 1.3rem;
}

.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  .smaller {
    width: 70%;
  }
}

#nav-mobile {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  li {
    width: 33%;
    text-align: center;
    &.active {
      background-color: rgba(0, 0, 0, 0.25);
    }
    &.checked {
      background-color: rgba(0, 0, 0, 0.10);
    }
    a, span {
      font-size: 1.3rem;
    }
    i {
      display: inline-block;
      font-size: 1rem;
      color: white;
    }
    .done {
      color: lightgrey;
    }
  }
}

.date {
  display: block;
  color: gray;
}

.approved {
  color: green;
}

.canceled {
  color: red;
}

.poznatky-list {
  .collection-item {
    padding-left: 0px;
    > .row {
      margin-bottom: 0px
    }

  }
}

.foto-links {
  width: 200px;
  margin-bottom: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#ops {
  .larger {
    font-size: xx-large;
    //text-align: center;
    //padding: 20px 10px 20px 10px;
  }
}

.rating {
  font-weight: bold;
  position: relative;
  margin-left: -6px;
}

.detail {
  .detail-item {
    border-bottom: 1px solid #e0e0e0;
  }
}

label {
  font-size: 1rem;
}

.input-field label {
  font-size: 1.3rem;
}

.input-field label.active {
  font-size: 1rem;
  transform: translateY(-110%);
}

.checkbox-container {
  label {
    padding-left: 25px;
  }
}

.mt10 {
  margin-top: 10px;
}

.oplinks {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.mt20 {
  margin-top: 20px;
}

.m10 {
  margin: 10px 10px 10px 10px;
}

.mb40 {
  margin-bottom: 40px;
}

.button-col {
  margin-top: 1rem;
}

.attachments {
  li {
    position: relative;
    .preview-img {
      position: relative;
      top: -7px;
    }
  }
}

.detail-delete-link {
  text-align: right;
  position: relative;
  a {
    position: absolute;
    right: 0px;
    top: -15px;
  }
}

#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background: $albixonGreenColor;
  z-index: 10;
  .footer-links {
    text-align: center;
    margin-top: 9px;
    a {
      color: white;
    }
    .logout-link {
      margin-left: 20px;
    }
  }
}

.my-stat-table {
  th, td {
    width: 50%;
  }
  th {
    text-align: right;
  }
  td {
    text-align: left;
    padding-left: 40px;
  }
  //max-width: 400px;
}

.detail-table {
  th {
    width: 160px;
    @media (min-width: 768px) {
      width: 200px;
    }

  }
}

.flash {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  &.success {
    color: green;
  }
  &.error {
    color: red;
  }
}

@media (max-width: 480px) {
  #nav-mobile {
    li {
      a, span {
        font-size: small;
      }
    }
  }
}

@media (min-width: 500px) {
  .oplinks {
    width: 450px;
    .half{
      width: 50%;
      float: left;
      display: inline;
      margin-bottom: 10px;
    }
    .full{
      width: 100%;
      display: inline;
      margin-bottom: 10px;
    }
  }

}

@media (min-width: 480px) and (max-width: 600px) {
  #nav-mobile {
    width: 480px;
  }
}

@media (min-width: 600px) {
  #nav-mobile {
    width: 600px;
  }
}
