@import "materialize";

$albixonGreenColor: #419c2a;
$btnColor: #F44336;

body {
  margin-bottom: 40px;
  h1 {
    font-size: 3.2rem;
  }
}
#footer{
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background: $albixonGreenColor;
  z-index: 10;
  a{
    color: white;
  }
  .footer-links {
    margin-top: 10px;
  }
}

nav {
  background-color: $albixonGreenColor;
}
.add-info{
  th{
    width: 180px;
  }
}

#frm-uploadForm{
  .file-field{
    margin-top: 2rem;
    .btn{
      display: block;
      margin-left: auto;
      margin-right: auto;
      float: none;
      width: 230px;
    }
  }
  .file-path-wrapper{
    .validate{
      border-bottom: none;
    }
  }
}

.photo {
  max-width: 110px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  img {
    width: 100%;
  }
}

.xlarge {
  font-size: x-large;
}
.type {
  font-size: larger;
}

.btn {
  background-color: $albixonGreenColor;
}

.btn-large {
  font-size: 1.3rem;
}

.pad5-20-5-20 {
  padding: 5px 20px 5px 20px;
}

#nav-mobile {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  #co-fotit {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  li {
    width: 33%;
    text-align: center;
    &.active {
      background-color: rgba(0, 0, 0, 0.25);
    }
    &.checked {
      background-color: rgba(0, 0, 0, 0.10);
    }
    a, span {
      font-size: 1.3rem;
      padding: inherit;
      //position: relative;
      //margin-top: -10px;
    }
    i {
      display: inline-block;
      font-size: 1rem;
      color: white;
    }
    .done {
      color: lightgrey;
    }
    .item {
      margin-top: -13px;
      padding-bottom: 13px;
      display: block;
      position: relative;
    }
    .second-line {
      position: absolute;
      width: 100%;
      left: 0;
      top: 26px;
      height: 30px;
    }
  }
}

.foto-links {
  width: 200px;
  margin-bottom: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#ops {
  .larger {
    font-size: xx-large;
  }
}

label {
  font-size: 1rem;
}

.input-field label {
  font-size: 1.3rem;
}

.input-field label.active {
  font-size: 1rem;
  transform: translateY(-110%);
}

.oplinks {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  border-top: 1px solid #c7c7c7;
}

.mt20 {
  margin-top: 20px;
}

.m10 {
  margin: 10px 10px 10px 10px;
}

.mb40 {
  margin-bottom: 40px;
}

.button-col {
  margin-top: 1rem;
}

.attachments {
  li {
    position: relative;
    .preview-img {
      position: relative;
      top: -7px;
    }
  }
}
.padtop50 {
  padding-top: 50px;
}

.flash {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  &.success {
    color: green;
  }
  &.error {
    color: red;
  }
}

.arrow-login {
  position: absolute;
  right: 10%;

}
.fright {
  float: right;
}

.login-form{
  .label {
    margin-left: 1rem;
  }
  .prefix {
    position: absolute;
  }
}

.logout-btn {
  float: right;
  margin-right: 20px;
}

@media (max-width: 400px) {
  .add-info{
    tr, th {
      width: 50%;
    }
  }
}

@media (max-width: 480px) {
  #nav-mobile {
    li {
      a, span {
        font-size: small;
      }
    }
  }
  body {
    h1 {
      font-size: 2.2rem;
    }
  }

}

@media (max-width: 857px) {
  .logout-btn {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 120px;
  }
}

@media (min-width: 500px) {
  .oplinks {
    width: 450px;
    .half {
      width: 50%;
      float: left;
      display: inline;
      margin-bottom: 10px;
    }
    .full {
      width: 100%;
      display: inline;
      margin-bottom: 10px;
    }
  }

}

@media (min-width: 480px) and (max-width: 600px) {
  #nav-mobile {
    width: 480px;
  }
}

@media (min-width: 600px) {
  #nav-mobile {
    width: 600px;
  }
}