{block content}
<div class="center">
    <h1>Vyberte co chcete fotit</h1>
    <div class="container">
        <a href="{link Homepage:op, type => \Model\PhotoModel::TYPE_EXPEDITION}"
           class="waves-effect waves-light btn-large foto-links">Expedice</a>
    </div>
    <div class="logo">
        <img src="{$basePath}/images/albixon_watermark.png">
    </div>
</div>

