parameters:



application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 30 days
	savePath: "%tempDir%/session"


services:
	router: App\RouterFactory::createRouter(%domainInternal%, %domainExternal%)
	- Model\PhotoModel(@database.default, %domainInternal%, %domainExternal%)
	- App\Model\SoapService(%soapUrl%, %soapLogin%, %soapPass%)
	- Model\UsersModel(@database.dbVykaz)
	- App\Model\ApiService(%apiKey%)
	authenticator: Model\UserAuthenticator(@database.dbVykaz)
