parameters:
    soapUrl: "" #ostra
#    soapUrl: "" #test
    soapLogin: login
    soapPass: pswd
    domains: {
                    fotoapp.local: {
                            sections: {
                                            {"id" : '', "name" : ''},
                                            {"id" : '', "name" : ''},
                                            {"id" : '', "name" : ''},
                                      },
                                    }
                    fotoapp2.local: {
                            sections: {
                                          {"id" : '', "name" : ''},
                                          {"id" : '', "name" : ''},
                                          {"id" : '', "name" : ''},
                                      }
                                    }
              }


database:
    default:
        dsn: 'mysql:host=127.0.0.1;dbname=test'
        user: cokoliv
        password: 'neco'
    dbVykaz:
        dsn: 'mysql:host=127.0.0.1;dbname=databasename'
        user: user
        password: 'test'
