parameters:
    soapUrl: "" #ostra
#    soapUrl: "" #test
    soapLogin: login
    soapPass: pswd
    domainInternal:
        domain: fotoapp.local
        action: default
        sections: {
                      {"id" : montaz, "name" : Montáž},
                      {"id" : servis, "name" : Servis},
                      {"id" : zamereni, "name" : Zaměření},
                  }
    domainExternal:
        domain: fotoapp2.local
        action: notDefault
        sections: {
                      {"id" : expedice, "name" : Expedice},
                      {"id" : brilix, "name" : Brilix},
                      {"id" : vyroba, "name" : Výroba},
                  }


database:
    default:
        dsn: 'mysql:host=127.0.0.1;dbname=test'
        user: cokoliv
        password: 'neco'
    dbVykaz:
        dsn: 'mysql:host=127.0.0.1;dbname=databasename'
        user: user
        password: 'test'
