parameters:
    apiKey: ''
    soapUrl: "" #ostra
    soapLogin: ''
    soapPass: ''
    domains: {
                fotoapp.local: {
                        sections: {
                                      {"id" : '', "name" : ''},
                                      {"id" : '', "name" : ''},
                                      {"id" : '', "name" : ''},
                                      {"id" : '', "name" : ''},
                                  }
                        soapParms: {
                                      "method" : '', "tagRoot" : ''
                                   }
                                },
                fotoapp2.local: {
                        sections: {
                                      {"id" : '', "name" : ''},
                                      {"id" : '', "name" : ''},
                                      {"id" : '', "name" : ''},
                                  }
                        soapParms: {
                                      "method" : '', "tagRoot" : ''
                                   }
                                 }
                eshop.local: {
                        sections: {
                                     {"id" : '', "name" : ''},
                                  }
                        soapParms: {
                                      "method" : '', "tagRoot" : ''
                                   }
                             }
              }


database:
    default:
        dsn: 'mysql:host=localhost;dbname=test'
        user:   ''
        password: ''
    dbVykaz:
        dsn: 'mysql:host=test;dbname=test'
        user: ''
        password: ''
